.broker-login-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Default */
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.broker-login-user {
    text-decoration: none;
    color: black;
}

.broker-login-broker {
    border-bottom: 3px solid #014DFF;
    text-decoration: none;
    color: black;
}

.broker-login-list-item-user {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.broker-login-list-item-broker {
    display: inline-block;
    padding-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
