.navbar {
    background-color: white;
}

.navbar-logo {
    text-decoration: none;
    color: black;
}

.navbar-box {
    margin-left: 25%;
}

.navbar-links {
    text-decoration: none;
    color: black;
}

.navbar-links-desktop {
    margin-right: 3%;
}

.menu-icon {
    color: black;
}

.user-signup-btn {
    margin-left: 40%;
    text-decoration: none;
}

.user-login-btn {
    margin-left: 3%;
    text-decoration: none;
}