@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: white;
}

.navbar-logo {
  text-decoration: none;
  /*color: black;*/
  font-weight: bold;
  color: #0d6efd
}

.navbar-box {
  margin-left: 25%;
}

.navbar-links {
  text-decoration: none;
  color: black;
}

.navbar-links-desktop {
  margin-right: 3%;
  white-space: nowrap;
  text-align: center;
}

.menu-icon {
  color: black;
}

.user-signup-btn {
  margin-left: 40%;
  text-decoration: none;
}

.user-login-btn {
  margin-left: 3%;
  text-decoration: none;
}

.user-navbar-user-signup-btn {
  margin-left: 18%;
  text-decoration: none;
}
