.property-card {
  display: flex;
  margin: 20px 30px;
  border: 3px solid #42526e;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.property-card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.property-card-img {
  width: 100%;
  border-radius: 10px;
}

.posted-by {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #42526e;
  border-radius: 10px;
  font-size: large;
  text-align: left;
}

.property-card-item {
  padding: 10px;
  padding-top: 20px;
  font-size: large;
  text-align: left;
}

@media screen and (min-width: 780px) {
  .posted-by,
  .property-card-item {
    margin-left: 50px;
  }
}

.proceed-to-verification-btn {
  margin-top: 55px;
  padding: 10px 40px;
  white-space: nowrap;
}
