.Header
{
    color: black;
    font-size: xxx-large;
    letter-spacing: 2px;
}

.Description
{
    color: #524C4C;
    font-weight: bold;
    letter-spacing: 2px;
}

.Marketplace
{
    color: #524C4C;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn-place-bid {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color:#fff;
    background-color: blue;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s; 
    cursor: pointer;
    outline: none;
    text-decoration: none;
   }
   
   .btn-place-bid:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(27, 1, 1, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .btn-place-bid:active {
    transform: translateY(-1px);
   }

   .btn-get-started {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color:#fff;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
   }
   
   .btn-get-started:hover {
    background-color: blue;
    box-shadow: 0px 15px 20px rgba(17, 4, 133, 0.253);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .btn-get-started:active {
    transform: translateY(-1px);
   }

   @keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {

	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
